
.contentTitle{
	font-size: 2em;
}

table, th, td {
  border: 1px solid black;

}

table {
  margin: auto;
  width: 100%;

}

th, td {
  padding: 15px;
  text-align: center;
}

thead {
  background-color: skyblue;
  color: white;
}

thead{
  font-size: 22px;
}

table button {
  background-color: skyblue;
  border-style: none;
  border-radius: 5px;
  padding: 5px;
}